@import url('https://fonts.googleapis.com/css?family=Quicksand|Titillium+Web|Do+Hyeon');

html, body {
	margin: 0 auto;
	font-family: 'Titillium Web', Sans-serif;
}

/*---------header---------*/
header {
	display: relative;
	margin: 0 auto;
	width: 100%;
	height: 50px;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	background: linear-gradient(#b2e9ff, #ccf0ff);
	z-index: 1;
}

.links {
	/*background: #f90;*/
	margin: 0 auto;
	list-style: none;
	width: 75%;
	text-align: right;
	padding-bottom: 10px;
	font-size: 1.3rem;
	line-height: 1.3rem;
}

#brand  {
	/*background: seagreen;*/
	width: 25%;
	padding: 0 0 10px 20px;
	font-size: 1.5rem;
	line-height: 1.5rem;
}

.links li {
	display: inline-block;
	margin-right: 70px;
}

.nav-link, #brand {
	color: #FF7721;
}


nav a {
	text-decoration: none;
}

nav a:hover, nav #brand:hover {
	color: #676767;
}


/*---------main---------*/
section {
	width: 100%;
	background: yellow;
}

section#about {
	height: 100vh;
	display: relative;
	background: linear-gradient(#ccf0ff, #e5f7ff);
}

#greeting {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 0;
}

#greeting h1 {
	margin: 0 auto;
	text-align: center;
}

#greeting span {
	text-align: center;
}

section#work {
	display: block;
	text-align: center;
	height: fit-content;
	background-color: #FFCC99;
}

section#work h2 {
	margin: 0 auto;
	padding-top: 50px;
}

section#contact {
	height: 90vh;
	text-align: center;
	height: fit-content;
	background-color: #FFFF99;
}


#projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	justify-items: center;
	margin: 40px 20% 50px 20%;
}

#projects .card {
	background-color: #fff;
	width: 80%;
	border: 1px solid #B1B1B1;
	padding: 2px;
	border-radius: 4px;
	margin-bottom: 30px;
}

.card a {
	text-decoration: none;
	color: #212121;
}

.card img {
	max-width: 100%;
	height: auto;
}

.card span {
	display: block;
	margin-left: -2px;
	margin-right: -2px;
	padding: 6px 10px;
	border-top: 1px solid #B1B1B1;
}

#contact #header {
	padding-top: 50px;
}

.social {
	background-color: yellow;
	margin: 40px 15% 50px 15%;
}

.social .circle {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 2px solid #B1B1B1;
	border-radius: 50%;
	line-height: 100px;
	text-decoration: none;
	color: #FF7721;
	margin: 10px 10px;
}


/*---------footer---------*/
footer {
	background: 
}


/*---------media queries---------*/

@media (max-width:1000px) {
	body {
		font-size: 80%;
	}
	.social {
		margin-left: 5%;
		margin-right: 5%;
	}
}

@media (max-width:600px) {
	body {
		font-size: 50%;
	}

	.links li {
		margin-right: 16px;
	}

	.links {
		font-size: 0.7rem;
		line-height: 0.7rem;
	}

	#brand  {
		font-size: 0.8rem;
		line-height: 0.8rem;
	}

	#projects {
		margin: 40px 0 50px 0;
	}
}